* {
  box-sizing: border-box; }

img {
  width: 100%;
  display: inline-block;
  vertical-align: bottom; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.row {
  float: left;
  width: 100%; }
  .row:after:after {
    content: "";
    display: table;
    clear: both; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #2A4550; }

h1, h2, h2, h4, h5, h6 {
  font-weight: 300;
  line-height: .8; }

.doneConfirmButton,
.cancelButton {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.75em;
  color: #48B2E8;
  letter-spacing: .1px;
  display: block;
  min-height: 40px;
  cursor: pointer;
  float: left; }
  .doneConfirmButton:active,
  .cancelButton:active {
    color: #198eca; }

form label {
  font-size: 0.7em;
  display: inline-block;
  float: left;
  width: 100%;
  color: #B6B6B6;
  margin: 1em 0 0; }
  form label ::-webkit-input-placeholder {
    opacity: .4; }
form input {
  padding: 0.3125em;
  border: 0 none;
  border-bottom: 1px solid #727272;
  width: 100%;
  color: #2A4550; }
  form input:focus {
    transition: all 0.2s cubic-bezier(0.06, 0.55, 0.9, 0.98);
    outline: none;
    border-bottom: 2px solid #48B2E8;
    padding: 0 0 0.25em;
    margin: 0.25em 0 0;
    font-size: 1.1em;
    font-weight: 300; }

header, .secondaryMenu {
  padding: 0.5em;
  z-index: 900;
  width: 100%; }

header {
  background: #2A4550;
  position: fixed;
  top: 0; }
  header h1, header h2, header h2, header h4, header h5, header h6 {
    color: #fff;
    margin: 0.5em 0;
    font-weight: 200;
    float: left; }
  header .iconSection {
    float: right; }
    header .iconSection svg {
      width: 1.5em;
      margin-right: 0.5em;
      fill: #fff;
      cursor: pointer; }

.createButton {
  transition: all 0.2s cubic-bezier(0.06, 0.55, 0.9, 0.98);
  width: 60px;
  height: 60px;
  float: right;
  margin: 3%;
  border-radius: 50%;
  background: #448AFF;
  position: absolute;
  margin: 12px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
  z-index: 999;
  position: fixed;
  right: 1em;
  top: 82px; }
  .createButton svg {
    width: 33.3333333333px;
    height: 33.3333333333px;
    display: inline-block;
    vertical-align: middle;
    fill: #fff;
    position: absolute;
    margin-left: 13.5px;
    margin-top: 12.5px; }
  .createButton:active {
    background: #116aff; }
  .createButton:hover {
    transition: all 0.2s cubic-bezier(0.06, 0.55, 0.9, 0.98);
    transform: scaleX(1.04) scaleY(1.04);
    box-shadow: 0 9px 12px 0 rgba(0, 0, 0, 0.24), 0 15px 50px 0 rgba(0, 0, 0, 0.19); }

.secondaryMenu {
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 4.2em;
  padding: 0;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26); }

.filtermenu {
  width: 100%;
  margin: 0 auto; }
  .filtermenu:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 769px) {
    .filtermenu {
      width: 700px; } }
  @media screen and (min-width: 1024px) {
    .filtermenu {
      width: 1000px; } }
  .filtermenu span {
    transition: border-bottom 0.1s cubic-bezier(0.06, 0.55, 0.9, 0.98);
    float: left;
    padding-right: 1em;
    min-width: 2em;
    padding: 1em;
    text-align: center;
    cursor: pointer; }
    .filtermenu span.currentFilter, .filtermenu span:hover {
      transition: border-bottom 0.1s cubic-bezier(0.06, 0.55, 0.9, 0.98);
      border-bottom: 0.25em solid #48B2E8; }

.search {
  float: left;
  position: fixed;
  top: 0;
  z-index: 999;
  border-top: 0;
  width: 100%;
  height: 3.3em;
  transition: all 0.2s cubic-bezier(0.06, 0.55, 0.9, 0.98);
  transform-origin: 100%;
  transform: scaleX(0); }
  .search form {
    margin: 1em;
    margin-left: 25%;
    padding-right: 5em; }
  .search label {
    display: none; }
  .search form input {
    float: left;
    outline: none;
    border-bottom: 2px solid #48B2E8;
    padding: 0 1em 0.25em;
    margin: 0.25em 0 0;
    font-size: 1.25em;
    font-weight: 300; }
    .search form input:focus {
      font-size: 1.25em; }

.card {
  float: left;
  background: #fff;
  width: 44%;
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 3.2%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
  position: relative;
  cursor: pointer;
  z-index: 5; }
  @media screen and (min-width: 769px) {
    .card {
      width: 31.26%;
      margin-left: 0; } }
  @media screen and (min-width: 1024px) {
    .card {
      width: 22.75%; } }
  .card:hover > .edit {
    display: block; }
  .card .image {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .card img {
    transition: all 0.2s cubic-bezier(0.06, 0.55, 0.9, 0.98);
    z-index: 1; }
    .card img:hover {
      transform-origin: 50% 50%;
      transform: scaleX(1.0125) scaleY(1.0125);
      opacity: .9; }
  .card .contactInfo {
    float: left;
    width: 100%;
    background: #48B2E8;
    color: #fff;
    padding: 0.5em 0.5rem; }
    .card .contactInfo:after:after {
      content: "";
      display: table;
      clear: both; }
    .card .contactInfo h1, .card .contactInfo p {
      margin: .2rem 0;
      line-height: 22px; }
    .card .contactInfo h1 {
      font-size: rem(22px);
      padding: 0;
      text-transform: capitalize; }
    .card .contactInfo p {
      padding-top: 0;
      font-weight: 200;
      letter-spacing: .5px; }

.contactDetails, .edit {
  transition: all 0.2s cubic-bezier(0.06, 0.55, 0.9, 0.98);
  float: left;
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 16px;
  cursor: initial; }
  .contactDetails:hover, .edit:hover {
    transition: all 0.2s cubic-bezier(0.06, 0.55, 0.9, 0.98);
    opacity: 1; }

.contactDetails svg, .edit .customImageUpload svg {
  width: 1.5em;
  vertical-align: middle;
  margin-right: 0.5em; }

.card.dev-first {
  transition: all 0.2s cubic-bezier(0.06, 0.55, 0.9, 0.98); }
  .card.dev-first:hover {
    transition: all 0.2s cubic-bezier(0.06, 0.55, 0.9, 0.98);
    transform: scaleX(1.05) scaleY(1.05);
    box-shadow: 0 13px 14px 0 rgba(0, 0, 0, 0.2), 0 15px 75px 0 rgba(0, 0, 0, 0.22); }
  .card.dev-first:hover > .contactDetails {
    display: block; }

.contactDetails {
  background: #fff; }
  .contactDetails h1 {
    font-size: 2rem;
    color: #1c9ee1;
    font-weight: 200;
    margin-top: 0; }
  .contactDetails .info {
    padding-bottom: 1em;
    border-bottom: 1px solid #727272; }

.edit .doneConfirmButton,
.edit .cancelButton {
  position: absolute;
  bottom: -0.5em; }
.edit .doneConfirmButton {
  right: 18px;
  text-align: right; }
.edit .customImageUpload {
  float: left;
  width: 100%;
  margin-top: 1em;
  font-size: 1em;
  display: block;
  cursor: pointer; }
  .edit .customImageUpload:after:after {
    content: "";
    display: table;
    clear: both; }
  .edit .customImageUpload svg {
    fill: #2A4550; }
  .edit .customImageUpload:active {
    color: #447082; }
    .edit .customImageUpload:active svg {
      fill: #3c6271; }

.editButton {
  width: 40px;
  height: 40px;
  float: right;
  margin: 3%;
  border-radius: 50%;
  background: #448AFF;
  position: absolute;
  margin: 12px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
  z-index: 999;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0; }
  .editButton svg {
    width: 22.2222222222px;
    height: 22.2222222222px;
    display: inline-block;
    vertical-align: middle;
    fill: #fff;
    position: absolute;
    margin-left: 9.8px;
    margin-top: 7px; }
  .editButton:active {
    background: #116aff; }

.cardContainer {
  width: 100%;
  margin: 0 auto;
  margin-top: 10em; }
  .cardContainer:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 769px) {
    .cardContainer {
      width: 700px; } }
  @media screen and (min-width: 1024px) {
    .cardContainer {
      width: 1000px; } }
  .cardContainer div:nth-of-type(2) {
    margin-right: 0;
    margin-right: 0; }
    .cardContainer div:nth-of-type(2):after:after {
      content: "";
      display: table;
      clear: both; }
  @media screen and (max-width: 390px) {
    .cardContainer .card {
      width: 100%; } }
  @media screen and (min-width: 769px) {
    .cardContainer div:nth-of-type(2) {
      margin-right: 0;
      margin-right: 3%; }
      .cardContainer div:nth-of-type(2):after:after {
        content: "";
        display: table;
        clear: both; }
    .cardContainer div:nth-of-type(3n+3) {
      margin-right: 0;
      margin-right: 0; }
      .cardContainer div:nth-of-type(3n+3):after:after {
        content: "";
        display: table;
        clear: both; } }
  @media screen and (min-width: 1024px) {
    .cardContainer div:nth-of-type(3n+3) {
      margin-right: 0;
      margin-right: 3%; }
      .cardContainer div:nth-of-type(3n+3):after:after {
        content: "";
        display: table;
        clear: both; }
    .cardContainer div:nth-of-type(4n+4) {
      margin-right: 0;
      margin-right: 0; }
      .cardContainer div:nth-of-type(4n+4):after:after {
        content: "";
        display: table;
        clear: both; } }

.loadmore {
  width: 2em;
  height: 2em;
  margin: 2em auto; }
  .loadmore svg {
    fill: #448AFF;
    -webkit-animation: spin 1s infinite;
    -moz-animation: spin 1s infinite;
    animation: spin 1s infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(0deg); } }
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(360deg); }
  100% {
    -moz-transform: rotate(0deg); } }
@keyframes spin {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }
