@mixin container{
	@include clearfix;

	width:100%;
	margin:0 auto;

	

	
	@media screen and (min-width:$medium-screen){
		width:$medium-container-width;
	}

	@media screen and (min-width:$large-screen){
		width:$large-container-width;
	}
	
}


 body {
 	margin:0;
 	padding: 0;
 	box-sizing:border-box;
 }

 // Grid style layout
@mixin row{
	float:left;
	width:100%;
	&:after{
		@include clearfix;
	}
}

.row{
	@include row;
}
