@mixin clearfix{
	&:after{
		content:"";
		display: table;
		clear: both;
	}
}


//quickly access all headings 
@mixin headings{
	
	h1,h2,h2,h4,h5,h6{
		@content
	}
}
 
 @mixin last {
 	margin-right: 0;
 	&:after{
 		@include clearfix;
 	} 
 }

 @mixin size($size){ //makes a square
	width:$size;
	height:$size;
 }


 //quick styles
 @mixin default-border-bottom{
 	border-bottom:1px solid $dark-gray;
 }

 //buttons
 @mixin textButton {
	text-transform:uppercase;
	font-weight:400;
	font-size:$base-font-size*.75;
	color:$primary-color;
	letter-spacing:.1px;
	display:block;
	min-height:40px; //for touch target
	cursor:pointer;
	float:left;

	&:active{
		color:darken($primary-color,15%);
	}
}


 @mixin svg-button($color, $size, $iconsize, $icon-top, $icon-left){
	@include size($size);
	float:right;
	margin:$gutter;
	border-radius: 50%;
	background:$secondary-color;
	position:absolute;
	
	margin: 12px;
	box-shadow:$shadow1;
	z-index:999;

	svg{
		@include size($size/1.8);
		display: inline-block;
		vertical-align: middle;
		fill:#fff;
		position: absolute;
		margin-left: $icon-left;
		margin-top: $icon-top;

	}

	&:active{
		background:darken($color,10%);
		
	}
 }