
body {
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:$base-font-size;
	color:$base-font-color;
}

@include headings{
	font-weight:300;
	line-height:.8;
}

//UI Text Interact
// see mixins

button.doneConfirmButton,
button.cancelButton,
button.removeButton {
	@include textButton;
}