
body {
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:$base-font-size;
	color:$base-font-color;
}

@include headings{
	font-weight:300;
	line-height:.8;
}

//UI Text Interact
@mixin textButton {
	text-transform:uppercase;
	font-weight:400;
	font-size:$base-font-size*.75;
	color:$primary-color;
	letter-spacing:.1px;
	display:block;
	min-height:40px; //for touch target
	cursor:pointer;
	float:left;

	&:active{
		color:darken($primary-color,15%);
	}
}

.doneConfirmButton,
.cancelButton {
	@include textButton;
}