
//fonts
$base-font-size:1em;

//colors


$primary-color:#48B2E8;
$secondary-color:#448AFF;
$dark-accent-color:#2A4550;
$white:#fff;
$dark-gray:#727272; 
$light-gray:#B6B6B6;
$background-color:$light-gray;
$base-font-color:$dark-accent-color;


//Effects
$shadow1: 0px 2px 5px 0px rgba(0,0,0,0.26);
$shadow3: 0 9px 12px 0 rgba(0, 0, 0, 0.24), 0 15px 50px 0 rgba(0, 0, 0, 0.19);
$shadow5: 0 13px 14px 0 rgba(0, 0, 0, 0.2), 0 15px 75px 0 rgba(0, 0, 0, 0.22); //The highest raised amount
$ani-curve:cubic-bezier(.06,.55,.9,.98);
$base-transition:all .2s $ani-curve;

//Breaks
$medium-screen:769px;
$large-screen:1024px;

//grid
$medium-container-width:700px;
$large-container-width:1000px;
$baseline:.5em;

$gutter:3%;

//MD
$z-index-dialog: 80 !default;

$whiteframe-shadow-z5: 0px 27px 24px 0 rgba(0,0,0,0.2) !default;
$whiteframe-zindex-z5: 5 !default;

// Easing Curves
//--------------------------------------------

$swift-ease-out-duration: 0.4s !default;
$swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !default;
$swift-ease-out: all $swift-ease-out-duration $swift-ease-out-timing-function !default;

$swift-ease-in-duration: 0.3s !default;
$swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2) !default;
$swift-ease-in: all $swift-ease-in-duration $swift-ease-in-timing-function !default;

$swift-ease-in-out-duration: 0.5s !default;
$swift-ease-in-out-timing-function: cubic-bezier(0.35, 0, 0.25, 1) !default;
$swift-ease-in-out: all $swift-ease-in-out-duration $swift-ease-in-out-timing-function !default;